@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.header {
  background-color: #999;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-right: 20px;
}

.header .header-logout {
  background-color: #bd0505;
}

.header .header-logout:hover {
  background-color: #940606;
}

.header .header-login {
  background-color: #6ad005;
}

.header .header-login:hover {
  background-color: #56a904;
}

.header button {
  height: 5vh;
  margin: 5px;
  width: 70px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#content {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-style: italic;
  font-family: "Alkatra", cursive;
}

.login-container {
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: auto;
  grid-template-areas: "title" "form";
  height: 300px;
  width: 25vw;
  background-color: #999;
  border-radius: 10px;
}

.login-title {
  text-align: center;
  height: 6vh;
  grid-area: title;
}

.login-form {
  grid-area: form;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "email email" "pass pass" "login cancel";
  justify-items: center;
}

.login-form input {
  border-radius: 5px;
  margin-bottom: 5px;
}

.login-form button {
  margin-top: 20px;
}

.login-form input:nth-child(1) {
  grid-area: email;
}
.login-form input:nth-child(2) {
  grid-area: pass;
}
.login-form button:nth-child(3) {
  grid-area: login;
  background-color: lawngreen;
  border-radius: 5px;
}
.login-form button:nth-child(4) {
  grid-area: cancel;
  background-color: red;
  border-radius: 5px;
}
.msg-form {
  display: flex;
  flex-direction: column;
}

.msg-form input {
  font-family: "Alkatra", cursive;
  width: 100vw;
  outline: none;
  border: none;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

#submit-msg {
  display: none;
  background-color: lawngreen;
  border-radius: 5px;
  width: 80px;
  margin: auto;
}

#submit-msg.show-msg-save-button {
  display: block;
}
